@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 6%;
        --foreground: 0 0% 98%;

        --card: 0 0% 6%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 6%;
        --popover-foreground: 0 0% 98%;

        --primary: 43 43% 63%;
        /* Gold #c6a87c */
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 10%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 10%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 43 43% 63%;

        --radius: 0.5rem;

        --font-heading: 'Cinzel', serif;
        --font-body: 'Lato', sans-serif;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading tracking-widest uppercase;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-[#0f0f0f];
}

::-webkit-scrollbar-thumb {
    @apply bg-[#1a1a1a] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-[#c6a87c];
}